:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fffeff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px; /* iPhone SEのサイズに合わせる */
  min-height: 100vh;
}
#app {
  max-width: 3840px;
  text-align: center;
}
